# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
null_count = df.isnull().sum()
null_count

station       0
date          0
prcp       1447
tobs          0
dtype: int64

As the NULL values are in prcp and not tobs, the rows will be left in.

In [5]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [6]:
# Set the date column as the DataFrame index and drop the date column
df = df.set_index("date", drop = True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [7]:
from scipy import stats
from scipy.stats import ttest_ind

In [8]:
# Filter data for desired months (June = 6, Dec = 12) and create collections of the temperature data
jun_weather = df[df.index.month == 6]
dec_weather = df[df.index.month == 12]

In [9]:
# Identify the average temperature for June at all stations across all available years in the dataset
jun_avg = jun_weather["tobs"].mean()
jun_avg_station = jun_weather.groupby(["station"]).mean().round(2)

display(jun_avg_station)
print(f"The average across all stations is {round(jun_avg, 2)}F.")

             prcp   tobs
station
USC00511918  0.02  74.14
USC00513117  0.12  74.05
USC00514830  0.11  76.01
USC00516128  0.50  71.94
USC00517948  0.06  76.66
USC00518838  0.09  73.39
USC00519281  0.15  73.27
USC00519397  0.02  77.56
USC00519523  0.05  76.67

The average across all stations is 74.94F.

In [10]:
# Identify the average temperature for December
dec_avg = dec_weather["tobs"].mean()
dec_avg_station = dec_weather.groupby(["station"]).mean().round(2)

display(dec_avg_station)
print(f"The average across all stations is {round(dec_avg, 2)}F.")

             prcp   tobs
station
USC00511918  0.14  69.68
USC00513117  0.20  71.07
USC00514830  0.15  73.22
USC00516128  0.51  69.29
USC00517948  0.15  71.83
USC00518838  0.64  72.42
USC00519281  0.24  69.90
USC00519397  0.08  71.11
USC00519523  0.16  72.43

The average across all stations is 71.04F.

In [13]:
# Run unpaired t-test
results = ttest_ind(jun_weather["tobs"], dec_weather["tobs"])
results

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [18]:
print(f" The p-value is {results[1]}.")

 The p-value is 3.9025129038616655e-191.

### Analysis

1) An unpaired t-test was used as the data sets are not of "equal" length.
2) The p-value is incredibly low. This means that the Null Hypothesis is very likely untrue, and there is a small but statistically significant difference in June and December temperatures in Hawaii.